<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.personal.demo.dao.LoginDao">
    <!--<select id="queryRoleById" parameterType="com.personal.demo.bean.User" resultMap="user">-->
     <!--SELECT a.*,c.`id_` AS rid,c.`name_` AS rname,c.`flag_` AS rflag FROM USER a-->
                <!--LEFT JOIN jxc_role_user b ON b.`user_id_`=a.`id_`-->
                <!--LEFT JOIN jxc_role c ON c.`id_`=b.`role_id_`-->
                <!--WHERE a.`id_`=#{userId}-->
    <!--</select>-->
    <!---->
    <!--&lt;!&ndash; 通用查询映射结果 &ndash;&gt;-->
    <!--<resultMap id="user" type="com.personal.demo.bean.User">-->
        <!--<id column="id_" property="id"/>-->
        <!--<result column="account_" property="account"/>-->
        <!--<result column="name_" property="name"/>-->
        <!--<result column="password_" property="password"/>-->
        <!--<result column="email_" property="email"/>-->
        <!--<result column="remark_" property="remark"/>-->
        <!--<result column="birthday_" property="birthday"/>-->
        <!--<result column="version_" property="version"/>-->
    <!--</resultMap>-->
</mapper>
